*{
    margin: 0;
    padding: 0;
}

header{   
    text-align: center;
    height: auto;  
    border-bottom: 1px gray solid;
    opacity: .9;
}
.banner-flex{
    display: flex;
}
.navbar-toggler{
    color:
}
.estou-aqui{
    margin-top: 2em;
}
.btn-close{
    float: right;
    top: -50px;
    position: relative;
}
.bloco__principal-menu {
    text-transform: uppercase;
    font-weight: bold;
}
.navbar-nav .nav-link.active{
    color: #fff;
}
.pe-3{
    padding-right: 0 !important;
}
.offcanvas-body{
    padding: 0;
}
.offcanvas.show{
    overflow: auto;
}
.bloco__principal-menu li{
    padding: 5px;
    border: #fff 1px solid;
    background-color: #89c33d;
    color: #fff;
    border-radius: 5px;
    width: 100%;
    overflow-y:scroll;
}
a .pg-selecionada{
    background-color: rgb(112, 112, 112) !important;
    color: #fff;
}

.bloco__principal-menu li:hover{
    background-color:rgb(112, 112, 112); 
}

.home{
    background:url(../img/pexels-manuel-geissinger-325229.jpeg);
}
.booble{
    background:url(../img/buble.jpeg);
}
.selection{
    background:url(../img/selectionss.jpeg) center/cover no-repeat;  
}
.insertion{
    background:url(../img/Insertion-Sort.png) center/cover no-repeat;
}
.merge{
    background:url(../img/merge-ethereum.webp) center/cover no-repeat;
}
.quick{
    background:url(../img/quicksort-banner@3600x1600-2048x910.png) center/cover no-repeat;
}
.heap{
    background:url(../img/amontuar.webp) center/cover no-repeat;
}
.shell{
    background:url(../img/Shell-small-banner2.jpg) center/cover no-repeat;
}
.coktail{
    background:url(../img/cocktail-banner-new2.jpg) center/cover no-repeat;
}
.gnome{
    background:url(../img/gnomo.webp) center/cover no-repeat;
}
.comb{
    background:url(../img/combo.jpeg) center/cover no-repeat;
}

.logo{
    width: 10em;
    height: 10em;
    margin: 80px 0 20px;
    padding: 5px;
    animation-name: move_titulo;
    animation-duration: 3s;
    position: relative;
}
.transparencia{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}
.selection h1,
.insertion h1,
.quick h1,
.shell h1{
    color:black ;
}
header h1{
    padding: 80px;
    color: white;
    font-family: 'arial';
    font-weight: bold;
    margin: auto;  
}


h1{
    position: relative;
    animation-name: move_titulo;
    animation-duration: 2s;
    
}
.navbar{
    animation-name: move_titulo;
    animation-duration: 1s;
}
@keyframes move_titulo{
    from {
        top:-200px
    }
    to {
        top:0px
    }
}


@media (max-width:750px){
    .home div,
    .booble div,
    .selection div,
    .insertion div,
    .merge div{
        display: block;
    }
    .logo{
        margin-top: 1em;
    }
    header h1{
       padding: 10px; 
    }
    .logo{
        margin-top: 90px;
    }
}
.bg-verde{
 background-color: rgb(112, 112, 112);
}
.navbar-toggler{
    color: #fff;
    border: #fff solid;
    background-color: #89c33d;
    font-weight: bold;
}