h1,h2,h3,h4,h5,h6{
    font-size: 36px;
}
main{
    background: url(/src/img/06-18.png) no-repeat fixed;
}
.bloco__principal-corpo{
    padding: 80px;
    background-color: rgb(223, 221, 221);
    font-family: 'Times New Roman', Times, serif;
    z-index: 0; 
}

a{
    text-decoration: none;
}

.ilustracao{
    width: 100%;
    border-radius:20px;
    margin-bottom:1em;
    max-width: 953px;
}
.ilustracao-p{
    width: 50%;
    border-radius:20px;
    max-width: 500px;
    margin:0 auto;
    display: block;
}

.codigos{
    background-color: rgb(41, 41, 97);
    border-radius: 20px;
}

pre code{
    color: #fff;
}

.tabelas{
    display: flex;
    gap: 20px;
}
.cards{
    padding: 10px;
    min-width: 50%;
    height: auto;
    background-color: #fff;
    border-radius: 4px;
}

@media (max-width:750px){
    .bloco__principal{
        grid-template-columns:1fr;
        padding: 0;
    }
    
    .bloco__principal-corpo{
        width: 100vw;
        padding: 10px;
    }
    #curve_chart{
        width: 100%;
    }
    .table{
        font-size: 0.7em;
    }
    .container{
        --bs-gutter-x:0;
    }
}

@media(max-width:1200px){
    .tabelas{
        flex-direction: column;
    }
    .cards{
        width: 100%;
    }
}
ul{
    padding-left: 0;
}

.card-overflow{
    overflow: auto;
}
